<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Netsuite Summary')"></div>
        <script th:src="@{/static/js/netsuite-summary.js}"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: output-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="card">
                            <div class="card-header">
                                Netsuite Summary
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline" method="get" th:action="@{/output/netsuite/summary}">
                                    <input type="date" class="form-control" name="startDate" th:value="${searchedStartDate}">&nbsp;
                                    <input type="date" class="form-control" name="endDate" th:value="${searchedEndDate}">&nbsp;
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-search">&nbsp; Search</i></button>
                                    </div>&nbsp;
                                </form>
                                <br>
                                <table id="netsuiteSummaryTable" class="table-sm table-striped table-bordered
                                    table-hover table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th></th>
                                            <th class="align-middle font-weight-bold" style="text-align: center;"
                                                th:attr="colspan=${#lists.size(milkProductList) + #lists.size(jarProductList) + #lists.size(waterProductList) + 4}">Amount</th>
                                            <th class="bg-dark"></th>
                                            <th class="align-middle font-weight-bold" style="text-align: center;"
                                                th:attr="colspan=${#lists.size(milkProductList) + #lists.size(jarProductList) + #lists.size(waterProductList) + 4}">Units</th>
                                        </tr>
                                    <tr>
                                        <th>Row Labels</th>
                                        <th:block th:each="milkProduct : ${milkProductList}">
                                            <th scope="col" th:text="${milkProduct}"></th>
                                        </th:block>
                                        <th scope="col" class="bg-dark text-white">Total Milk</th>
                                        <th:block th:each="jarProductList : ${jarProductList}">
                                            <th scope="col" th:text="${jarProductList}"></th>
                                        </th:block>
                                        <th scope="col" class="bg-dark text-white">Total Jar</th>
                                        <th:block th:each="waterProduct : ${waterProductList}">
                                            <th scope="col" th:text="${waterProduct}"></th>
                                        </th:block>
                                        <th scope="col" class="bg-dark text-white">Total Water</th>
                                        <th scope="col" class="bg-dark text-white">Total HiPP Amount</th>
                                        <th class="bg-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th:block th:each="milkProduct : ${milkProductList}">
                                            <th scope="col" th:text="${milkProduct}"></th>
                                        </th:block>
                                        <th scope="col" class="bg-dark text-white">Total Milk</th>
                                        <th:block th:each="jarProduct : ${jarProductList}">
                                            <th scope="col" th:text="${jarProduct}"></th>
                                        </th:block>
                                        <th scope="col" class="bg-dark text-white">Total Jar</th>
                                        <th:block th:each="waterProduct : ${waterProductList}">
                                            <th scope="col" th:text="${waterProduct}"></th>
                                        </th:block>
                                        <th scope="col" class="bg-dark text-white">Total Water</th>
                                        <th scope="col" class="bg-dark text-white">Total HiPP Units</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="transfersCatRecode : ${transfersCatRecodeList}">
                                            <tr class="bg-dark text-white">
                                                <td class="font-weight-bold" th:text="${transfersCatRecode}"></td>
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${netsuiteSummaryCalculator.calculateSalesAmountByTransferCatRecodeAndProductCode(transfersCatRecode, milkProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateMilkSalesAmountByTransfersCatRecode(transfersCatRecode)}"></td>
                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                    <td th:text="${netsuiteSummaryCalculator.calculateSalesAmountByTransferCatRecodeAndProductCode(transfersCatRecode, jarProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateJarSalesAmountByTransfersCatRecode(transfersCatRecode)}"></td>
                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                    <td th:text="${netsuiteSummaryCalculator.calculateSalesAmountByTransferCatRecodeAndProductCode(transfersCatRecode, waterProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateWaterSalesAmountByTransfersCatRecode(transfersCatRecode)}"></td>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecode(transfersCatRecode)}"></td>
                                                <td class="bg-dark"></td>
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndProductCode(transfersCatRecode, milkProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateMilkSalesUnitByTransfersCatRecode(transfersCatRecode)}"></td>
                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                    <td th:text="${netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndProductCode(transfersCatRecode, jarProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateJarSalesUnitByTransfersCatRecode(transfersCatRecode)}"></td>
                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                    <td th:text="${netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndProductCode(transfersCatRecode, waterProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateWaterSalesUnitByTransfersCatRecode(transfersCatRecode)}"></td>
                                                <td class="bg-dark text-white" th:text="${netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecode(transfersCatRecode)}"></td>
                                            </tr>
                                            <th:block th:each="netsuiteCombination, row : ${netsuiteCombinationList}">
                                                <tr th:if="${transfersCatRecode == netsuiteCombination.transfersCatRecode}">
                                                    <td th:text="${netsuiteCombination.kamReferenceName}"></td>
                                                    <th:block th:each="milkProduct : ${milkProductList}">
                                                        <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesAmount}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateMilkSalesAmount()}"></td>
                                                    <th:block th:each="jarProduct : ${jarProductList}">
                                                        <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesAmount}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateJarSalesAmount()}"></td>
                                                    <th:block th:each="waterProduct : ${waterProductList}">
                                                        <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesAmount}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateWaterSalesAmount()}"></td>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateTotalSalesAmount()}"></td>
                                                    <td class="bg-dark"></td>
                                                    <th:block th:each="milkProduct : ${milkProductList}">
                                                        <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesUnit}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateMilkSalesUnit()}"></td>
                                                    <th:block th:each="jarProduct : ${jarProductList}">
                                                        <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesUnit}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateJarSalesUnit()}"></td>
                                                    <th:block th:each="waterProduct : ${waterProductList}">
                                                        <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesUnit}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateWaterSalesUnit()}"></td>
                                                    <td class="bg-dark text-white" th:text="${netsuiteCombination.calculateTotalSalesUnit()}"></td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                        <tr class="bg-dark text-white">
                                            <td class="font-weight-bold">Grand Total</td>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <td th:text="${netsuiteSummaryCalculator.calculateSalesAmountByProductCode(milkProduct)}"></td>
                                            </th:block>
                                            <td th:text="${netsuiteSummaryCalculator.calculateMilkSalesAmount()}"></td>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <td th:text="${netsuiteSummaryCalculator.calculateSalesAmountByProductCode(jarProduct)}"></td>
                                            </th:block>
                                            <td th:text="${netsuiteSummaryCalculator.calculateJarSalesAmount()}"></td>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <td th:text="${netsuiteSummaryCalculator.calculateSalesAmountByProductCode(waterProduct)}"></td>
                                            </th:block>
                                            <td th:text="${netsuiteSummaryCalculator.calculateWaterSalesAmount()}"></td>
                                            <td th:text="${netsuiteSummaryCalculator.calculateSalesAmount()}"></td>
                                            <td class="bg-dark"></td>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <td th:text="${netsuiteSummaryCalculator.calculateSalesUnitByProductCode(milkProduct)}"></td>
                                            </th:block>
                                            <td th:text="${netsuiteSummaryCalculator.calculateMilkSalesUnit()}"></td>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <td th:text="${netsuiteSummaryCalculator.calculateSalesUnitByProductCode(jarProduct)}"></td>
                                            </th:block>
                                            <td th:text="${netsuiteSummaryCalculator.calculateJarSalesUnit()}"></td>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <td th:text="${netsuiteSummaryCalculator.calculateSalesUnitByProductCode(waterProduct)}"></td>
                                            </th:block>
                                            <td th:text="${netsuiteSummaryCalculator.calculateWaterSalesUnit()}"></td>
                                            <td th:text="${netsuiteSummaryCalculator.calculateTotalUnit()}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>