<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Netsuite Table Inventory')"></div>
        <script th:src="@{/js/netsuite-table-inv.js}"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: output-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="card">
                            <div class="card-header">
                                Netsuite Table INV
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline" method="get">
                                    <input type="date" class="form-control" name="startDate" th:value="${searchedStartDate}">&nbsp;
                                    <input type="date" class="form-control" name="endDate" th:value="${searchedEndDate}">&nbsp;
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-search">&nbsp; Search</i></button>
                                    </div>&nbsp;
                                </form>
                                <br>

                                <table id="netsuiteTableInventoryTables" class="table-sm table-striped table-bordered
                                         table-hover table">
                                    <!-- Amount -->
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center font-weight-bold" colspan="42">AMOUNT</th>
                                        </tr>
                                        <tr>
                                            <th class="bg-dark text-white">Label</th>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <th th:text="${milkProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Milk</th>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <th th:text="${jarProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Jar</th>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <th th:text="${waterProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Water</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="mgmt : ${mgmtList}">
                                            <tr class="bg-dark text-white">
                                                <!-- Mgmt -->
                                                <td th:text="${mgmt}" nowrap></td>
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesAmountByMgmtAndProductCode(mgmt, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateMilkSalesAmountByMgmt(mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesAmountByMgmtAndProductCode(mgmt, jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateJarSalesAmountByMgmt(mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="milkProduct : ${waterProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesAmountByMgmtAndProductCode(mgmt, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateWaterSalesAmountByMgmt(mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </tr>

                                            <th:block th:each="region : ${regionList}">
                                                <th:block th:each="netsuiteCombination : ${netsuiteCombinationRegionList}">
                                                    <tr th:if="${netsuiteCombination.mgmt == mgmt &&
                                                            netsuiteCombination.region == region}">
                                                        <!-- Region -->
                                                        <td th:text="${region}" nowrap></td>
                                                        <th:block th:each="milkProduct : ${milkProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesAmountByMgmtAndRegionAndProductCode(mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateMilkSalesAmountByMgmtAndRegion(mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="milkProduct : ${jarProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesAmountByMgmtAndRegionAndProductCode(mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateJarSalesAmountByMgmtAndRegion(mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="milkProduct : ${waterProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesAmountByMgmtAndRegionAndProductCode(mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateWaterSalesAmountByMgmtAndRegion(mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                    </tr>
                                                </th:block>

                                                <th:block th:each="kamReferenceName : ${kamReferenceNameList}">
                                                    <th:block th:each="netsuiteCombination : ${netsuiteCombinationList}">
                                                        <tr th:if="${netsuiteCombination.mgmt == mgmt
                                                                    && netsuiteCombination.region == region
                                                                    && netsuiteCombination.kamReferenceName == kamReferenceName}">
                                                            <!-- Kam Reference Name -->
                                                            <td th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                                                    + ${kamReferenceName}" nowrap></td>
                                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                                <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                    <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                        <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                            th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesAmount, 0, 'COMMA', 0, 'POINT')}">
                                                                        </td>
                                                                    </th:block>
                                                                </th:block>
                                                                <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                    <td>0</td>
                                                                </th:block>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateMilkSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                                <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                    <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                        <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                            th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesAmount, 0, 'COMMA', 0, 'POINT')}">
                                                                        </td>
                                                                    </th:block>
                                                                </th:block>
                                                                <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                    <td>0</td>
                                                                </th:block>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateJarSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                                <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                    <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                        <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                            th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesAmount, 0, 'COMMA', 0, 'POINT')}">
                                                                        </td>
                                                                    </th:block>
                                                                </th:block>
                                                                <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                    <td>0</td>
                                                                </th:block>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateWaterSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </tr>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </th:block>
                                    </tbody>

                                    <tr style="height: 50px;"/>

                                    <!-- Units -->
                                    <tr>
                                        <th class="text-center font-weight-bold" colspan="42">UNITS</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-dark text-white">Label</th>
                                        <th:block th:each="milkProduct : ${milkProductList}">
                                            <th th:text="${milkProduct}"></th>
                                        </th:block>
                                        <th class="bg-dark text-white">Total Milk</th>
                                        <th:block th:each="jarProduct : ${jarProductList}">
                                            <th th:text="${jarProduct}"></th>
                                        </th:block>
                                        <th class="bg-dark text-white">Total Jar</th>
                                        <th:block th:each="waterProduct : ${waterProductList}">
                                            <th th:text="${waterProduct}"></th>
                                        </th:block>
                                        <th class="bg-dark text-white">Total Water</th>
                                    </tr>
                                    <tbody>
                                        <th:block th:each="mgmt : ${mgmtList}">
                                            <tr class="bg-dark text-white">
                                                <!-- Mgmt -->
                                                <td th:text="${mgmt}" nowrap></td>
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesUnitByMgmtAndProductCode(mgmt, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateMilkSalesUnitByMgmt(mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="milkProduct : ${jarProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesUnitByMgmtAndProductCode(mgmt, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateJarSalesUnitByMgmt(mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="milkProduct : ${waterProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesUnitByMgmtAndProductCode(mgmt, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateWaterSalesUnitByMgmt(mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </tr>

                                            <th:block th:each="region : ${regionList}">
                                                <th:block th:each="netsuiteCombination : ${netsuiteCombinationRegionList}">
                                                    <tr th:if="${netsuiteCombination.mgmt == mgmt &&
                                                                netsuiteCombination.region == region}">
                                                        <!-- Region -->
                                                        <td th:text="${region}" nowrap></td>
                                                        <th:block th:each="milkProduct : ${milkProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesUnitByMgmtAndRegionAndProductCode(mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateMilkSalesUnitByMgmtAndRegion(mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="milkProduct : ${jarProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesUnitByMgmtAndRegionAndProductCode(mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateJarSalesUnitByMgmtAndRegion(mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="milkProduct : ${waterProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateSalesUnitByMgmtAndRegionAndProductCode(mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteTableInventoryCalculator.calculateWaterSalesUnitByMgmtAndRegion(mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                    </tr>
                                                </th:block>

                                                <th:block th:each="kamReferenceName : ${kamReferenceNameList}">
                                                    <th:block th:each="netsuiteCombination : ${netsuiteCombinationList}">
                                                        <tr th:if="${netsuiteCombination.mgmt == mgmt
                                                                        && netsuiteCombination.region == region
                                                                        && netsuiteCombination.kamReferenceName == kamReferenceName}">
                                                            <!-- Kam Reference Name -->
                                                            <td th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                                                        + ${kamReferenceName}" nowrap></td>
                                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                                <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                    <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                        <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                            th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesUnit, 0, 'COMMA', 0, 'POINT')}">
                                                                        </td>
                                                                    </th:block>
                                                                </th:block>
                                                                <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                    <td>0</td>
                                                                </th:block>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateMilkSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                                <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                    <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                        <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                            th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesUnit, 0, 'COMMA', 0, 'POINT')}">
                                                                        </td>
                                                                    </th:block>
                                                                </th:block>
                                                                <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                    <td>0</td>
                                                                </th:block>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateJarSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                                <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                    <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                        <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                            th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesUnit, 0, 'COMMA', 0, 'POINT')}">
                                                                        </td>
                                                                    </th:block>
                                                                </th:block>
                                                                <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                    <td>0</td>
                                                                </th:block>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateWaterSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </tr>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>