<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Netsuite Summary')"></div>
        <script th:src="@{/static/js/netsuite-summary.js}"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: output-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="card">
                            <div class="card-header">
                                Netsuite Summary
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline" method="get" th:action="@{/output/netsuite/summary}">
                                    <input type="date" class="form-control" name="startDate" th:value="${searchedStartDate}">&nbsp;
                                    <input type="date" class="form-control" name="endDate" th:value="${searchedEndDate}">&nbsp;
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-search">&nbsp; Search</i></button>
                                    </div>&nbsp;
                                </form>
                                <br>
                                <table id="netsuiteSummaryTable" class="table-sm table-striped table-bordered
                                    table-hover table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th></th>
                                            <th class="align-middle font-weight-bold" style="text-align: center;"
                                                th:attr="colspan=${#lists.size(milkProductList) + #lists.size(jarProductList) + #lists.size(waterProductList) + 4}">Amount</th>
                                            <th class="bg-white"></th>
                                            <th class="align-middle font-weight-bold" style="text-align: center;"
                                                th:attr="colspan=${#lists.size(milkProductList) + #lists.size(jarProductList) + #lists.size(waterProductList) + 4}">Units</th>
                                        </tr>
                                        <tr>
                                            <!-- Header -->
                                            <th>Row Labels</th>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <th scope="col" th:text="${milkProduct}"></th>
                                            </th:block>
                                            <th scope="col" class="bg-dark text-white">Total Milk</th>
                                            <th:block th:each="jarProductList : ${jarProductList}">
                                                <th scope="col" th:text="${jarProductList}"></th>
                                            </th:block>
                                            <th scope="col" class="bg-dark text-white">Total Jar</th>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <th scope="col" th:text="${waterProduct}"></th>
                                            </th:block>
                                            <th scope="col" class="bg-dark text-white">Total Water</th>
                                            <th scope="col" class="bg-dark text-white">Total HiPP Amount</th>
                                            <th class="bg-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <th scope="col" th:text="${milkProduct}"></th>
                                            </th:block>
                                            <th scope="col" class="bg-dark text-white">Total Milk</th>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <th scope="col" th:text="${jarProduct}"></th>
                                            </th:block>
                                            <th scope="col" class="bg-dark text-white">Total Jar</th>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <th scope="col" th:text="${waterProduct}"></th>
                                            </th:block>
                                            <th scope="col" class="bg-dark text-white">Total Water</th>
                                            <th scope="col" class="bg-dark text-white">Total HiPP Units</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="transfersCatRecode : ${transfersCatRecodeList}">
                                            <tr class="bg-dark text-white">
                                                <!-- Transfer cats recode -->
                                                <td th:text="${transfersCatRecode}"></td>

                                                <!-- Amount -->
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransferCatRecodeAndProductCode(transfersCatRecode, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesAmountByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransferCatRecodeAndProductCode(transfersCatRecode, jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesAmountByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransferCatRecodeAndProductCode(transfersCatRecode, waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesAmountByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <td class="bg-white"></td>

                                                <!-- Units -->
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndProductCode(transfersCatRecode, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesUnitByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndProductCode(transfersCatRecode, jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesUnitByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                    <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndProductCode(transfersCatRecode, waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                </th:block>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesUnitByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecode(transfersCatRecode), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </tr>
                                            <th:block th:each="mgmt : ${mgmtList}">
                                                <th:block th:each="netsuiteCombination : ${netsuiteCombinationMgmtList}">
                                                    <tr th:if="${netsuiteCombination.mgmt == mgmt
                                                            && netsuiteCombination.transfersCatRecode == transfersCatRecode}">
                                                        <!-- Mgmt -->
                                                        <td th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                                            + ${mgmt}" nowrap></td>

                                                        <!-- Amount -->
                                                        <th:block th:each="milkProduct : ${milkProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmtAndProductCode(transfersCatRecode, mgmt, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesAmountByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="jarProduct : ${jarProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmtAndProductCode(transfersCatRecode, mgmt, jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesAmountByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="waterProduct : ${waterProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmtAndProductCode(transfersCatRecode, mgmt, waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesAmountByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <td class="bg-white"></td>

                                                        <!-- Unit -->
                                                        <th:block th:each="milkProduct : ${milkProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmtAndProductCode(transfersCatRecode, mgmt, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesUnitByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="jarProduct : ${jarProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmtAndProductCode(transfersCatRecode, mgmt, jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesUnitByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <th:block th:each="waterProduct : ${waterProductList}">
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmtAndProductCode(transfersCatRecode, mgmt, waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </th:block>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesUnitByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmt(transfersCatRecode, mgmt), 0, 'COMMA', 0, 'POINT')}"></td>
                                                    </tr>
                                                </th:block>

                                                <th:block th:each="region : ${regionList}">
                                                    <th:block th:each="netsuiteCombination : ${netsuiteCombinationRegionList}">
                                                        <tr th:if="${netsuiteCombination.mgmt == mgmt
                                                                && netsuiteCombination.transfersCatRecode == transfersCatRecode
                                                                && netsuiteCombination.region == region}">
                                                            <!-- Region -->
                                                            <td th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                                                + ${region}" nowrap></td>

                                                            <!-- Amount -->
                                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmtAndRegionAndProductCode(transfersCatRecode, mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesAmountByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmtAndRegionAndProductCode(transfersCatRecode, mgmt, region, jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesAmountByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmtAndRegionAndProductCode(transfersCatRecode, mgmt, region, waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesAmountByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <td class="bg-white"></td>

                                                            <!-- Unit -->
                                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmtAndRegionAndProductCode(transfersCatRecode, mgmt, region, milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesUnitByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmtAndRegionAndProductCode(transfersCatRecode, mgmt, region, jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesUnitByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmtAndRegionAndProductCode(transfersCatRecode, mgmt, region, waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            </th:block>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesUnitByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByTransfersCatRecodeAndMgmtAndRegion(transfersCatRecode, mgmt, region), 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </tr>
                                                    </th:block>

                                                    <th:block th:each="kamReferenceName : ${kamReferenceNameList}">
                                                        <th:block th:each="netsuiteCombination : ${netsuiteCombinationList}">
                                                            <tr th:if="${netsuiteCombination.mgmt == mgmt
                                                                    && netsuiteCombination.transfersCatRecode == transfersCatRecode
                                                                    && netsuiteCombination.region == region
                                                                    && netsuiteCombination.kamReferenceName == kamReferenceName}">
                                                                <!-- Kam Reference Name -->
                                                                <td th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                                                    + ${kamReferenceName}" nowrap></td>

                                                                <!-- Amount -->
                                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                                    <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                        <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                            <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                                th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesAmount, 0, 'COMMA', 0, 'POINT')}">
                                                                            </td>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                        <td>-</td>
                                                                    </th:block>
                                                                </th:block>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateMilkSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                                    <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                        <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                            <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                                th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesAmount, 0, 'COMMA', 0, 'POINT')}">
                                                                            </td>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                        <td>-</td>
                                                                    </th:block>
                                                                </th:block>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateJarSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                                    <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                        <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                            <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                                th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesAmount, 0, 'COMMA', 0, 'POINT')}">
                                                                            </td>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                        <td>-</td>
                                                                    </th:block>
                                                                </th:block>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateWaterSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateTotalSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                                <td class="bg-white"></td>

                                                                <!-- Unit -->
                                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                                    <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                        <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                            <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                                th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesUnit, 0, 'COMMA', 0, 'POINT')}">
                                                                            </td>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                                        <td>-</td>
                                                                    </th:block>
                                                                </th:block>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateMilkSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                                    <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                        <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                            <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                                th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesUnit, 0, 'COMMA', 0, 'POINT')}">
                                                                            </td>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                                        <td>-</td>
                                                                    </th:block>
                                                                </th:block>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateJarSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                                    <th:block th:if="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                        <th:block th:each="productSalesAmountAndUnitList : ${netsuiteCombination.productSalesAmountAndUnitList}">
                                                                            <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                                th:text="${#numbers.formatDecimal(productSalesAmountAndUnitList.salesUnit, 0, 'COMMA', 0, 'POINT')}">
                                                                            </td>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:unless="${netsuiteCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                                        <td>-</td>
                                                                    </th:block>
                                                                </th:block>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateWaterSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                                <td th:text="${#numbers.formatDecimal(netsuiteCombination.calculateTotalSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                                            </tr>
                                                        </th:block>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </th:block>

                                        <tr class="bg-dark text-white">
                                            <!-- Grand Total -->
                                            <td class="font-weight-bold">Grand Total</td>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByProductCode(milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </th:block>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByProductCode(jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </th:block>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmountByProductCode(waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </th:block>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="bg-white"></td>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByProductCode(milkProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </th:block>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateMilkSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByProductCode(jarProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </th:block>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateJarSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateSalesUnitByProductCode(waterProduct), 0, 'COMMA', 0, 'POINT')}"></td>
                                            </th:block>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateWaterSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td th:text="${#numbers.formatDecimal(netsuiteSummaryCalculator.calculateTotalUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>