<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Add Dispensing Distributor')"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: master-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="card">
                            <div class="card-header">
                                Add Dispensing Distributor
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light">
                                <form th:action="@{/master/dispensing-distributor/create}" th:object="${dispensingDistributor}" method="post">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-save">&nbsp; Save</i></button>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-warning" th:href="@{/master/dispensing-distributor}">
                                            <i class="fas fa-ban">&nbsp; Cancel</i></a>
                                    </div>
                                    <hr>
                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Date</label>
                                        <div class="col-sm-4">
                                            <input type="date" class="form-control" th:field="*{date}" required>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Month</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{month}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Accounts</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{accounts}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">DSM Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{dsmName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Doctor's Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{doctorName}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">NA Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{naName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Item Key</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{itemKey}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Item Description</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{itemDescription}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Category</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{category}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Reference No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{referenceNo}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Price</label>
                                        <div class="col-sm-4">
                                            <input type="number" step=".01" class="form-control" th:field="*{price}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Units</label>
                                        <div class="col-sm-4">
                                            <input type="number" max="1000000000" class="form-control" th:field="*{units}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Total Amount</label>
                                        <div class="col-sm-4">
                                            <input type="number" step=".01" class="form-control" th:field="*{totalAmount}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Final Amount</label>
                                        <div class="col-sm-4">
                                            <input type="number" step=".01" class="form-control" th:field="*{finalAmount}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>