<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'MDC Per Branch Sales')"></div>
        <script th:src="@{/js/mdc-branch.js}"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: master-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="alert alert-success alert-dismissible fade show"
                             th:if="${successMessage != null}">
                            <div th:text="${successMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                             th:if="${errorMessage != null}">
                            <div th:text="${errorMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                MDC Per Branch Sales
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline" method="get" th:action="@{/master/mdc-branch}">
                                    <input type="date" class="form-control" name="startDate" th:value="${searchedStartDate}" required>&nbsp
                                    <input type="date" class="form-control" name="endDate" th:value="${searchedEndDate}" required>&nbsp;
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-search">&nbsp; Search</i></button>
                                    </div>&nbsp;
                                    <div class="btn-group">
                                        <a class="btn btn-primary" th:href="@{/master/mdc-branch/add}" role="button">
                                            <i class="fas fa-plus">&nbsp; Add MDC Per Branch Sales</i></a>
                                    </div>
                                </form>
                                <br>
                                <table id="mdcBranchTable" class="table table-striped table-bordered table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Row</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">CONO</th>
                                            <th scope="col">REC</th>
                                            <th scope="col">BRAN</th>
                                            <th scope="col">SATBRN</th>
                                            <th scope="col">CUSNO</th>
                                            <th scope="col">SHPCN</th>
                                            <th scope="col">CUSTNM</th>
                                            <th scope="col">CADD1</th>
                                            <th scope="col">CADD2</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">ZIPCD</th>
                                            <th scope="col">SMAN</th>
                                            <th scope="col">PRIN</th>
                                            <th scope="col">SUBPR</th>
                                            <th scope="col">REFCD</th>
                                            <th scope="col">REFCD1</th>
                                            <th scope="col">Net Qty</th>
                                            <th scope="col">Net Value</th>
                                            <th scope="col">Net Value 2</th>
                                            <th scope="col">SKU</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Gross Value</th>
                                            <th scope="col">Month</th>
                                            <th scope="col">Year</th>
                                            <th scope="col">REFDT</th>
                                            <th scope="col">REFNO</th>
                                            <th scope="col">XREFNO</th>
                                            <th scope="col">REASN</th>
                                            <th scope="col">PRODCD</th>
                                            <th scope="col">QTYQR</th>
                                            <th scope="col">QTYSH</th>
                                            <th scope="col">UM</th>
                                            <th scope="col">VLAMT</th>
                                            <th scope="col">SELLPR</th>
                                            <th scope="col">PDS</th>
                                            <th scope="col">EXPDT</th>
                                            <th scope="col">LOTNO</th>
                                            <th scope="col">BARCODE</th>
                                            <th scope="col">PDCODE</th>
                                            <th scope="col">DMAN</th>
                                            <th scope="col">FINDSC</th>
                                            <th scope="col">FRTAMT</th>
                                            <th scope="col">SLSYR</th>
                                            <th scope="col">SLSMO</th>
                                            <th scope="col">SLSWK</th>
                                            <th scope="col">APPNUM</th>
                                            <th scope="col">PONUM</th>
                                            <th scope="col">GUARTRAN</th>
                                            <th scope="col">NETSALES</th>
                                            <th scope="col">DEBTORCODE</th>
                                            <th scope="col">STR CODE</th>
                                            <th scope="col">COVERAGE</th>
                                            <th scope="col">REASON</th>
                                            <th scope="col">BRANCH NAME</th>
                                            <th scope="col">NA NAME</th>
                                            <th scope="col">DSM NAME</th>
                                            <th scope="col">Coordinator</th>
                                            <th scope="col">Region</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mdcPerBranchSales, row : ${mdcPerBranchSalesList}">
                                            <td class="align-middle">
                                                <a th:text="${row.count}"
                                                   th:href="@{/master/mdc-branch/view/{id}(id=${mdcPerBranchSales.id})}"></a>
                                            </td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.date}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.cono}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.rec}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.bran}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.satbrn}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.customerNo}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.shpcn}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.customerName}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.cadd1}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.cadd2}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.clazz}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.zipcd}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.sman}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.prin}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.subpr}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.refcd}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.refcd1}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.netQuantity}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.netValue}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.netValue2}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.sku}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.category}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.grossValue}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.getDate().month}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.getDate().year}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.referenceDate}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.referenceNo}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.xreferenceNo}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.reasn}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.prodcd}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.quantityOr}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.quantitySh}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.um}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.vlamt}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.sellpr}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.pds}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.expirationDate}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.lotNo}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.barcode}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.pdcode}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.dman}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.findsc}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.framt}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.slsyr}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.slsmo}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.slswk}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.appNum}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.poNum}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.guartran}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.netSales}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.debtorCode}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.strCode}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.coverage}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.reason} ?: '0'"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.branchName}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.naName}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.dsmName}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.coordinator}"></td>
                                            <td class="align-middle" th:text="${mdcPerBranchSales.region}"></td>
                                            <td class="align-middle">
                                                <a class="btn btn-outline-danger" data-toggle="modal"
                                                   th:attr="data-target='#deleteMdcPerBranchSalesModal' + ${mdcPerBranchSales.id}"
                                                   role="button"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                            <div th:id="'deleteMdcPerBranchSalesModal' + ${mdcPerBranchSales.id}" class="modal fade" role="dialog"
                                                 aria-labelledby="deleteMdcPerBranchSalesModalLabel" aria-hidden="true" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete MDC Per Branch Sales</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete this entry?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-danger"
                                                               th:href="@{/master/mdc-branch/delete/{id}(id=${mdcPerBranchSales.id})}"
                                                               role="button">Delete</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>