<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'ZOL MDC Per Branch')"></div>
        <script th:src="@{/js/zol-mdc.js}"></script>
        <link th:href="@{/css/zol-mdc-per-branch.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: master-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="alert alert-success alert-dismissible fade show"
                             th:if="${successMessage != null}">
                            <div th:text="${successMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                             th:if="${errorMessage != null}">
                            <div th:text="${errorMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                ZOL MDC Per Branch
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline" method="get" th:action="@{/master/zol-mdc}">
                                    <input type="date" class="form-control" name="startDate" th:value="${searchedStartDate}">&nbsp;
                                    <input type="date" class="form-control" name="endDate" th:value="${searchedEndDate}">&nbsp;
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-search">&nbsp; Search</i></button>
                                    </div>&nbsp;
                                    <div class="btn-group">
                                        <a class="btn btn-primary" th:href="@{/master/zol-mdc/add}" role="button">
                                            <i class="fas fa-plus">&nbsp; Add ZOL MDC Per Branch</i></a>
                                    </div>
                                </form>
                                <br>
                                <table id="zolMdcTable" class="table table-striped table-bordered table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Row</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Customer Code</th>
                                            <th scope="col">Customer Name</th>
                                            <th scope="col">Item Code</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Sales Unit</th>
                                            <th scope="col">Sales Value</th>
                                            <th scope="col" title="Generated from: ZOL Per Doors General Information's brand where ZOL MDC Per Branch's item code eqausl ZOL Per Doors General Information's zpc item code ">Antech Product Description</th>
                                            <th scope="col" title="Generated from: ZOL Per Doors General Information's new price where ZOL MDC Per Branch's item code eqausl ZOL Per Doors General Information's zpc item code">Antech Price</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col" title="Generated from: ZOL MDC Account's branch name where ZOL MDC Per Branch's customer name equals ZOL MDC Account's branch name">Account</th>
                                            <th scope="col">Kam</th>
                                            <th scope="col" title="Generated from: ZOL MDC Account's na where ZOL MDC Per Branch's customer name equals ZOL MDC Account's branch name">Kam Reference Name</th>
                                            <th scope="col" title="Generated from: ZOL Per Doors General Information's stage where ZOL MDC Per Branch's item code eqausl ZOL Per Doors General Information's zpc item code">Stage</th>
                                            <th scope="col" title="Generated from: Amount * 0.0001">Amount Converted</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">CM</th>
                                            <th scope="col" title="Generated from: Sales value * 0.00375">Less 0.00375</th>
                                            <th scope="col" title="Generated from: Sales value - less 0.00375">V1</th>
                                            <th scope="col" title="Generated from: Sales value * 0.0853">Less 0.0853</th>
                                            <th scope="col" title="Generated from: V1 - less 0.0853">V2</th>
                                            <th scope="col" title="Generated from: (Sales value - less 0.00375 - less 0.0853) * 0.001">Final Amount</th>
                                            <th scope="col" title="Generated from: Final amount * 1000">Amount * 1000</th>
                                            <th scope="col" title="Generated from: Final amount rounded off">A</th>
                                            <th scope="col">CM IND</th>
                                            <th scope="col" title="Generated from: MDC Per Branch Sales NA Configuration's dsm ZOL MDC Per Branch's kam reference name equals MDC Per Branch Sales NA Configuration's na name">DSM</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="zolMdcPerBranch, row : ${zolMdcPerBranchList}">
                                            <td class="align-middle">
                                                <a th:text="${row.count}"
                                                   th:href="@{/master/zol-mdc/view/{id}(id=${zolMdcPerBranch.id})}"></a>
                                            </td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.date}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.customerCode}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.customerName}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.itemCode}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.itemName}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.salesUnit, 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.salesValue, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.antechProductDescription}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.antechPrice, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.amount, 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.account}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.kam}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.kamRefName}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.stage}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.amountConverted, 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.type}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.loc}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.cm}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.less00375Percent, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.v1, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.less0853Percent, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.v2, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.finalAmount, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.amountTimesOneThousand, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranch.a, 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.dsm}"></td>
                                            <td class="align-middle" th:text="${zolMdcPerBranch.date}"></td>
                                            <td class="align-middle">
                                                <a class="btn btn-outline-danger" data-toggle="modal"
                                                   th:attr="data-target='#deleteZolMdcPerBranchModal' + ${zolMdcPerBranch.id}"
                                                   role="button"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                            <div th:id="'deleteZolMdcPerBranchModal' + ${zolMdcPerBranch.id}" class="modal fade" role="dialog"
                                                 aria-labelledby="deleteZolMdcPerBranchModalLabel" aria-hidden="true" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete ZOL MDC Per Branch</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete this entry?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <form th:action="@{/master/zol-mdc/delete/{id}(id=${zolMdcPerBranch.id})}"
                                                                  th:method="delete">
                                                                <button class="btn btn-danger" type="submit">Delete</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        <tr th:if="${!zolMdcPerBranchList.isEmpty()}">
                                            <td class="align-middle">Total</td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateSalesUnit(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateSalesValue(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateAntechPrice(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateAmount(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateAmountConverted(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateFirstDiscount(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateV1(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateSecondDiscount(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateV2(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateFinalAmount(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateAmountTimesOneThousand(), 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td class="align-middle"
                                                th:text="${#numbers.formatDecimal(zolMdcPerBranchCalculator.calculateA(), 0, 'COMMA', 0, 'POINT')}"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                            <td class="align-middle"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>