<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="header">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
            <title th:text="${title}"></title>
            <link rel="stylesheet"
                  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
            <link rel="stylesheet"
                  th:href="@{/webjars/datatables/css/dataTables.bootstrap4.css}">

            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

            <link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">
            <link rel="stylesheet" th:href="@{/webjars/datatables-buttons/css/buttons.dataTables.min.css}">

            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" th:src="@{webjars/datatables/js/jquery.dataTables.min.js}"></script>
            <script type="text/javascript" th:src="@{webjars/datatables-buttons/js/dataTables.buttons.min.js}"></script>
            <script type="text/javascript" th:src="@{webjars/datatables-buttons/js/buttons.html5.min.js}"></script>

            <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        </div>

        <div th:fragment="footer">
        </div>
    </body>
</html>