<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Demand Plan</title>
        <link rel="icon" type="image/x-icon" th:href="@{/images/antech-favicon.ico}"/>
        <link rel="stylesheet"
              href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="/">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                            d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">Demand Plan</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline" method="get" action="/demand-plan">
                        <input type="text" class="form-control" name="productName" placeholder="Product"
                               size="8" required>&nbsp;&nbsp;
                        <input type="number" class="form-control" name="year" placeholder="Year"
                               size="8" required>&nbsp;&nbsp;
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>&nbsp;
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductSalesModal">
                                Add Product Sales
                            </button>
                        </div>
                    </form>
                    <br>
                    <table class="table table-striped table-bordered table-hover table-sm table-responsive">
                        <tr>
                            <td>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Month</th>
                                        </tr>
                                        <tr>
                                            <td>Plan</td>
                                        </tr>
                                        <tr>
                                            <th>In-Market</th>
                                        </tr>
                                        <tr>
                                            <th>Ave In-Market Sales</th>
                                        </tr>
                                        <tr>
                                            <th>Off Take</th>
                                        </tr>
                                        <tr>
                                            <th>Production</th>
                                        </tr>
                                        <tr>
                                            <th>Total Goods Available</th>
                                        </tr>
                                        <tr>
                                            <th>Loading</th>
                                        </tr>
                                        <tr>
                                            <th>HiPP Ending Inventory</th>
                                        </tr>
                                        <tr>
                                            <th>HiPP Days on Hand</th>
                                        </tr>
                                        <tr>
                                            <th>Antech Beginning Inventory</th>
                                        </tr>
                                        <tr>
                                            <th>Shipments Received At Antech</th>
                                        </tr>
                                        <tr>
                                            <th>Total Available for Sale in the Philippines</th>
                                        </tr>
                                        <tr>
                                            <th>Actual / LBE Sales</th>
                                        </tr>
                                        <tr>
                                            <th>Ending Inventory Antech</th>
                                        </tr>
                                        <tr>
                                            <th>Days on Hand - Antech</th>
                                        </tr>
                                        <tr>
                                            <th>Beginning Inventory (Trade)</th>
                                        </tr>
                                        <tr>
                                            <th>Total Ending Inventory at Trade</th>
                                        </tr>
                                        <tr>
                                            <th>Days on Hand - Trade</th>
                                        </tr>
                                    </thead>
                                </table>
                            </td>
                            <td th:each="productSales : ${productSalesList}">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td th:text="${productSales.month}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.generalInformation.plan}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.generalInformation.inMarketSales}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.generalInformation.averageInMarketSales}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.generalInformation.offTake}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtSource.production}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtSource.totalGoodsAvailable}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtSource.loading}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtSource.hippEndingInventory}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtSource.hippDaysOnHand}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtAntechZPC.beginningInventory}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtAntechZPC.shipmentsReceived}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtAntechZPC.totalAvailableForSaleInPhilippines}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtAntechZPC.actualSales}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtAntechZPC.endingInventory}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtAntechZPC.daysOnHand}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtTrade.beginningInventory}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtTrade.totalEndingInventory}" />
                                        </tr>
                                        <tr>
                                            <td th:text="${productSales.inventoryAtTrade.daysOnHand}" /
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="modal fade" id="addProductSalesModal" tabindex="-1" role="dialog"
                 aria-labelledby="addProductSalesModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addProductSalesModalLabel">Add Product Sales</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/demand-plan/add" method="get">
                                <div class="form-group">
                                    <label for="plan">Plan</label>
                                    <input type="text" class="form-control" id="plan" required>
                                </div>
                                <div class="form-group">
                                    <label for="inMarketSales">In Market Sales</label>
                                    <input type="text" class="form-control" id="inMarketSales" required>
                                </div>
                                <div class="form-group">
                                    <label for="production">Production</label>
                                    <input type="text" class="form-control" id="production" required>
                                </div>
                                <div class="form-group">
                                    <label for="loading">Loading</label>
                                    <input type="text" class="form-control" id="loading" required>
                                </div>
                                <div class="form-group">
                                    <label for="shipmentsReceived">Shipments Received</label>
                                    <input type="text" class="form-control" id="shipmentsReceived" required>
                                </div>
                                <div class="form-group">
                                    <label for="actualSales">Actual Sales</label>
                                    <input type="text" class="form-control" id="actualSales" required>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>