<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Demand Plan</title>
        <link rel="stylesheet"
              href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <img class="img-fluid" src="../images/antech-top.png" />
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline" method="get" action="/demand-plan">
                        <input type="text" class="form-control" list="productName" name="productName" placeholder="Product"
                               size="8" required>&nbsp;&nbsp;
                        <datalist id="productName">
                            <option value="S1400">S1400</option>
                            <option value="S1800">S1800</option>
                            <option value="CS400">CS400</option>
                            <option value="CS800">CS800</option>
                        </datalist>
                        <input type="number" class="form-control" list="year" name="year" placeholder="Year"
                               size="8" required>&nbsp;&nbsp;
                        <datalist id="year">
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </datalist>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>&nbsp;
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductSalesModal">
                                Add Product Sales
                            </button>
                        </div>
                    </form>
                    <br>
                    <table class="table table-striped table-bordered table-hover table-sm table-responsive">
                        <thead class="thead-light">
                        <tr>
                            <th scope="colgroup" colspan=""></th>
                            <th scope="colgroup" colspan="4">General Information</th>
                            <th scope="colgroup" colspan="5">Inventory At Source</th>
                            <th scope="colgroup" colspan="6">Inventory At Antech ZPC</th>
                            <th scope="colgroup" colspan="3">Inventory At Trade</th>
                        </tr>
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Plan</th>
                            <th scope="col">In Market Sales</th>
                            <th scope="col">Average In Market Sales</th>
                            <th scope="col">Off Take</th>
                            <th scope="col">Production</th>
                            <th scope="col">Total Goods Available</th>
                            <th scope="col">Loading</th>
                            <th scope="col">HiPP Ending Inventory</th>
                            <th scope="col">HiPP Days On Hand</th>
                            <th scope="col">Beginning Inventory</th>
                            <th scope="col">Shipments Received</th>
                            <th scope="col">Available Sales In The Philippines</th>
                            <th scope="col">Actual Sales</th>
                            <th scope="col">Ending Inventory</th>
                            <th scope="col">Days On Hand</th>
                            <th scope="col">Beginning Inventory</th>
                            <th scope="col">Total Ending Inventory</th>
                            <th scope="col">Days on Hand</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="productSales : ${productSalesList}" >
                            <td th:text="${productSales.month}" />
                            <td th:text="${productSales.generalInformation.plan}" />
                            <td th:text="${productSales.generalInformation.inMarketSales}" />
                            <td th:text="${productSales.generalInformation.averageInMarketSales}" />
                            <td th:text="${productSales.generalInformation.offTake}" />
                            <td th:text="${productSales.inventoryAtAntechZPC.beginningInventory}" />
                            <td th:text="${productSales.inventoryAtAntechZPC.shipmentsReceived}" />
                            <td th:text="${productSales.inventoryAtAntechZPC.totalAvailableForSaleInPhilippines}" />
                            <td th:text="${productSales.inventoryAtAntechZPC.actualSales}" />
                            <td th:text="${productSales.inventoryAtAntechZPC.endingInventory}" />
                            <td th:text="${productSales.inventoryAtAntechZPC.daysOnHand}" />
                            <td th:text="${productSales.inventoryAtSource.production}" />
                            <td th:text="${productSales.inventoryAtSource.totalGoodsAvailable}" />
                            <td th:text="${productSales.inventoryAtSource.loading}" />
                            <td th:text="${productSales.inventoryAtSource.hippEndingInvetory}" />
                            <td th:text="${productSales.inventoryAtSource.hippDaysOnHand}" />
                            <td th:text="${productSales.inventoryAtTrade.beginningInventory}" />
                            <td th:text="${productSales.inventoryAtTrade.totalEndingInventory}" />
                            <td th:text="${productSales.inventoryAtTrade.daysOnHand}" />
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal fade" id="addProductSalesModal" tabindex="-1" role="dialog"
                 aria-labelledby="addProductSalesModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addProductSalesModalLabel">Add Product Sales</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/demand-plan/add" method="get">
                                <div class="form-group">
                                    <label for="plan">Plan</label>
                                    <input type="text" class="form-control" id="plan" required>
                                </div>
                                <div class="form-group">
                                    <label for="inMarketSales">In Market Sales</label>
                                    <input type="text" class="form-control" id="inMarketSales" required>
                                </div>
                                <div class="form-group">
                                    <label for="production">Production</label>
                                    <input type="text" class="form-control" id="production" required>
                                </div>
                                <div class="form-group">
                                    <label for="loading">Loading</label>
                                    <input type="text" class="form-control" id="loading" required>
                                </div>
                                <div class="form-group">
                                    <label for="shipmentsReceived">Shipments Received</label>
                                    <input type="text" class="form-control" id="shipmentsReceived" required>
                                </div>
                                <div class="form-group">
                                    <label for="actualSales">Actual Sales</label>
                                    <input type="text" class="form-control" id="actualSales" required>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>