<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Daily Sales Report ZOL')"></div>
        <script th:src="@{/js/dsr-zol.js}"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: output-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="card">
                            <div class="card-header">
                                DSR ZOL
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline" method="get" th:action="@{/output/dsr-zol}">
                                    <input type="date" class="form-control" name="startDate" th:value="${searchedStartDate}">&nbsp;
                                    <input type="date" class="form-control" name="endDate" th:value="${searchedEndDate}">&nbsp;
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-search">&nbsp; Search</i></button>
                                    </div>&nbsp;
                                </form>
                                <br>
                                <table id="dailySalesReportZOLTable" class="table-sm table-striped table-bordered
                                    table-hover table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th></th>
                                            <th class="align-middle" style="text-align: center;"
                                                th:attr="colspan=${#lists.size(milkProductList) + #lists.size(jarProductList) + #lists.size(waterProductList) + 4}">Amount</th>
                                            <th class="bg-dark"></th>
                                            <th class="align-middle" style="text-align: center;"
                                                th:attr="colspan=${#lists.size(milkProductList) + #lists.size(jarProductList) + #lists.size(waterProductList) + 4}">Units</th>
                                        </tr>
                                        <tr>
                                            <th class="sticky-top">Row Labels</th>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <th scope="col" class="sticky-top" th:text="${milkProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Milk</th>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <th scope="col" class="sticky-top" th:text="${jarProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Jar</th>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <th scope="col" class="sticky-top" th:text="${waterProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Water</th>
                                            <th class="bg-dark text-white">Total HiPP Amount</th>
                                            <th class="bg-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <th scope="col" th:text="${milkProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Milk</th>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <th scope="col" class="sticky-top" th:text="${jarProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Jar</th>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <th scope="col" class="sticky-top" th:text="${waterProduct}"></th>
                                            </th:block>
                                            <th class="bg-dark text-white">Total Water</th>
                                            <th class="bg-dark text-white">Total HiPP Units</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="kamRefName : ${kamReferenceNameList}">
                                            <tr class="bg-dark text-white">
                                                <td class="font-weight-bold" th:text="${kamRefName}"></td>
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${dsrZolCalculator.calculateTotalAmountPerAccountPerProduct(kamRefName, milkProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalMilkAmountPerAccount(kamRefName)}"></td>
                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                    <td th:text="${dsrZolCalculator.calculateTotalAmountPerAccountPerProduct(kamRefName, jarProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalJarAmountPerAccount(kamRefName)}"></td>
                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                    <td th:text="${dsrZolCalculator.calculateTotalAmountPerAccountPerProduct(kamRefName, waterProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalWaterAmountPerAccount(kamRefName)}"></td>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalAmountPerAccount(kamRefName)}"></td>
                                                <td class="bg-dark"></td>
                                                <th:block th:each="milkProduct : ${milkProductList}">
                                                    <td th:text="${dsrZolCalculator.calculateTotalUnitsPerAccountPerProduct(kamRefName, milkProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalMilkUnitsPerAccount(kamRefName)}"></td>
                                                <th:block th:each="jarProduct : ${jarProductList}">
                                                    <td th:text="${dsrZolCalculator.calculateTotalUnitsPerAccountPerProduct(kamRefName, jarProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalJarUnitsPerAccount(kamRefName)}"></td>
                                                <th:block th:each="waterProduct : ${waterProductList}">
                                                    <td th:text="${dsrZolCalculator.calculateTotalUnitsPerAccountPerProduct(kamRefName, waterProduct)}">
                                                    </td>
                                                </th:block>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalWaterUnitsPerAccount(kamRefName)}"></td>
                                                <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalUnitsPerAccount(kamRefName)}"></td>
                                            </tr>
                                            <th:block th:each="dsrZolCombination, row : ${dsrZolCombinationList}">
                                                <tr th:if="${kamRefName == dsrZolCombination.kamReferenceName}">
                                                    <td th:text="${dsrZolCombination.account}"></td>
                                                    <th:block th:each="milkProduct : ${milkProductList}">
                                                        <th:block th:if="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${dsrZolCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.amount}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalMilkAmount()}"></td>
                                                    <th:block th:each="jarProduct : ${jarProductList}">
                                                        <th:block th:if="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${dsrZolCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.amount}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalJarAmount()}"></td>
                                                    <th:block th:each="waterProduct : ${waterProductList}">
                                                        <th:block th:if="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${dsrZolCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.amount}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalWaterAmount()}"></td>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalAmount()}"></td>
                                                    <td class="bg-dark"></td>
                                                    <th:block th:each="milkProduct : ${milkProductList}">
                                                        <th:block th:if="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${dsrZolCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${milkProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesUnit}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(milkProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalMilkSalesUnit()}"></td>
                                                    <th:block th:each="jarProduct : ${jarProductList}">
                                                        <th:block th:if="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${dsrZolCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${jarProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesUnit}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(jarProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalJarSalesUnit()}"></td>
                                                    <th:block th:each="waterProduct : ${waterProductList}">
                                                        <th:block th:if="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <th:block th:each="productSalesAmountAndUnitList : ${dsrZolCombination.productSalesAmountAndUnitList}">
                                                                <td th:if="${waterProduct == productSalesAmountAndUnitList.product}"
                                                                    th:text="${productSalesAmountAndUnitList.salesUnit}">
                                                                </td>
                                                            </th:block>
                                                        </th:block>
                                                        <th:block th:unless="${dsrZolCombination.doesProductExistInProductSalesAmountAndUnitList(waterProduct)}">
                                                            <td>-</td>
                                                        </th:block>
                                                    </th:block>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalWaterSalesUnit()}"></td>
                                                    <td class="bg-dark text-white" th:text="${dsrZolCombination.getTotalSalesUnit()}"></td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                        <tr class="bg-dark text-white">
                                            <td class="font-weight-bold">Grand Total</td>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <td th:text="${dsrZolCalculator.calculateTotalAmountPerProduct(milkProduct)}">
                                                </td>
                                            </th:block>
                                            <td class="bg-dark text-white" th:text="${dsrZolCalculator.calculateTotalMilkAmount()}"></td>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <td th:text="${dsrZolCalculator.calculateTotalAmountPerProduct(jarProduct)}">
                                                </td>
                                            </th:block>
                                            <td th:text="${dsrZolCalculator.calculateTotalJarAmount()}"></td>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <td th:text="${dsrZolCalculator.calculateTotalAmountPerProduct(waterProduct)}">
                                                </td>
                                            </th:block>
                                            <td th:text="${dsrZolCalculator.calculateTotalWaterAmount()}"></td>
                                            <td th:text="${dsrZolCalculator.calculateTotalAmount()}"></td>
                                            <td class="bg-dark"></td>
                                            <th:block th:each="milkProduct : ${milkProductList}">
                                                <td th:text="${dsrZolCalculator.calculateTotalUnitsPerProduct(milkProduct)}">
                                                </td>
                                            </th:block>
                                            <td th:text="${dsrZolCalculator.calculateTotalMilkUnits()}"></td>
                                            <th:block th:each="jarProduct : ${jarProductList}">
                                                <td th:text="${dsrZolCalculator.calculateTotalUnitsPerProduct(jarProduct)}">
                                                </td>
                                            </th:block>
                                            <td th:text="${dsrZolCalculator.calculateTotalJarUnits()}"></td>
                                            <th:block th:each="waterProduct : ${waterProductList}">
                                                <td th:text="${dsrZolCalculator.calculateTotalUnitsPerProduct(waterProduct)}">
                                                </td>
                                            </th:block>
                                            <td th:text="${dsrZolCalculator.calculateTotalWaterUnits()}"></td>
                                            <td th:text="${dsrZolCalculator.calculateTotalUnits()}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>