<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <link rel="icon" type="image/x-icon" th:href="@{images/antech-favicon.ico}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Home</title>
        <style type="text/css">
            body, html{
                background: #f5f5f5;
            }
        </style>
    </head>
    <body>
        <div class="container"><br>
            <div class="card">
                <div class="card-header text-center">
                    <img th:src="@{/images/antech-top.png}" />
                </div>
                <div class="card-body">
                    <div class="card-deck">
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-shopping-basket fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a th:href="@{/products}" target="_blank">Item Master</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-user-friends fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a th:href="@{/customers}" target="_blank">Customer Master</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-chart-pie fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a th:href="@{/reports}" target="_blank">Status Reports</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-project-diagram fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a th:href="@{/demand-plan}" target="_blank">Demand Plan</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>