<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Home')"></div>
        <style type="text/css">
            body, html{
                background: #f5f5f5;
            }
        </style>
    </head>
    <body>
        <div class="container"><br>
            <div class="card">
                <div class="card-header text-center">
                    <img th:src="@{/images/antech-top.png}" />
                </div>
                <div class="card-body">
                    <div class="card-deck">
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-briefcase fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/output/dsr-zol}" target="_blank">DSR ZOL</a>
                                </p>
                            </div>
                        </div>
                        <div class="card border-0">
                        </div>
                        <div class="card border-0">
                        </div>
                        <div class="card border-0">
                        </div>
                    </div>
                    <br>
                    <div class="card-deck">
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-shopping-basket fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/products}" target="_blank">Item Master</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-user-friends fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/customers}" target="_blank">Customer Master</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-chart-pie fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/reports}" target="_blank">Status Reports</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-project-diagram fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/demand-plan}" target="_blank">Demand Plan</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-deck">
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-user fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/zol-mdc-accounts}" target="_blank">ZOL MDC Accounts</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="far fa-user fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/zol-mt-accounts}" target="_blank">ZOL MT Accounts</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-info-circle fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/zol-gen-info}" target="_blank">ZOL General Information</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="far fa-user-circle fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/mdc-branch-accounts}" target="_blank">Mdc Per Branch Sales Accounts</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-deck">
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-arrows-alt fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/mdc-branch-brn}" target="_blank">MDC Per Branch Sales BRN</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fab fa-stumbleupon-circle fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/mdc-branch-code}" target="_blank">MDC Per Branch Sales Code</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fab fa-stack-overflow fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/mdc-branch-coverage}" target="_blank">Mdc Per Branch Sales Coverage</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-check-double fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/mdc-branch-na}" target="_blank">Mdc Per Branch Sales Na Configuration</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-deck">
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-tags fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/netsuite-bbj}" target="_blank">Netsuite BBJ Tagging</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-atom fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/netsuite-general-info}" target="_blank">Netsuite General Information</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fas fa-shield-alt fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/netsuite-other-info}" target="_blank">Netsuite Other Information</a>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <br>
                            <br>
                            <i class="fab fa-sourcetree fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/netsuite-product-list-source}" target="_blank">Netsuite Product List Source</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-deck">
                        <div class="card">
                            <br>
                            <br>
                            <i class="far fa-list-alt fa-5x text-center"></i>
                            <div class="card-body text-center">
                                <p class="card-text lead font-weight-bold">
                                    <a class="stretched-link" th:href="@{/config/netsuite-product-list-de}" target="_blank">Netsuite Product List DE</a>
                                </p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <br>
                            <br>
                        </div>
                        <div class="card border-0">
                            <br>
                            <br>
                        </div>
                        <div class="card border-0">
                            <br>
                            <br>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>