<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'MDC Per Branch Sales Code')"></div>
        <script th:src="@{/js/mdc-branch-code.js}"></script>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="alert alert-success alert-dismissible fade show"
                 th:if="${successMessage != null}">
                <div th:text="${successMessage}"></div>
                <a class="close" data-dismiss="alert">&times;</a>
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${errorMessage != null}">
                <div th:text="${errorMessage}"></div>
                <a class="close" data-dismiss="alert">&times;</a>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/}">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                                            d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">MDC Per Branch Sales Code</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline">
                        <div class="btn-group">
                            <a class="btn btn-primary" th:href="@{/config/mdc-branch-code/add}" role="button">
                                <i class="fas fa-plus">&nbsp; Add MDC Per Branch Sales Code</i></a>
                        </div>
                    </form>
                    <br>
                    <table id="mdcPerBranchSalesCodeTable" class="table table-striped table-bordered table-hover table-sm
                                                table-responsive">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Row</th>
                                <th scope="col">Code</th>
                                <th scope="col">Description</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mdcPerBranchSalesCode, row : ${mdcPerBranchSalesCodeList}">
                                <td class="align-middle">
                                    <a th:text="${row.count}"
                                       th:href="@{/config/mdc-branch-code/view/{id}(id=${mdcPerBranchSalesCode.id})}"></a>
                                </td>
                                <td class="align-middle" th:text="${mdcPerBranchSalesCode.code}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSalesCode.description}"></td>
                                <td class="align-middle">
                                    <a class="btn btn-outline-danger" data-toggle="modal"
                                       th:attr="data-target='#deleteMdcPerBranchSalesCodeModal' + ${mdcPerBranchSalesCode.id}"
                                       role="button"><i class="fas fa-trash-alt"></i></a>
                                </td>
                                <div th:id="'deleteMdcPerBranchSalesCodeModal' + ${mdcPerBranchSalesCode.id}" class="modal fade" role="dialog"
                                     aria-labelledby="deleteMdcPerBranchSalesCodeModalLabel" aria-hidden="true" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete MDC Per Branch Sales Code</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this entry?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger"
                                                   th:href="@{/config/mdc-branch-code/delete/{id}(id=${mdcPerBranchSalesCode.id})}"
                                                   role="button">Delete</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>