<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'MDC Per Branch Sales')"></div>
        <script th:src="@{/js/mdc-branch.js}"></script>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/}">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                                    d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">MDC Per Branch Sales</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline" method="get" th:action="@{/master/mdc-branch}">
                        <input type="date" class="form-control" name="date" th:value="${searchedDate}">&nbsp;&nbsp;
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-search">&nbsp; Search</i></button>
                        </div>&nbsp;
                    </form>
                    <br>
                    <table id="mdcBranchTable" class="table table-striped table-bordered table-hover table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Row</th>
                            <th scope="col">Date</th>
                            <th scope="col">CONO</th>
                            <th scope="col">REC</th>
                            <th scope="col">BRAN</th>
                            <th scope="col">SATBRN</th>
                            <th scope="col">CUSNO</th>
                            <th scope="col">SHPCN</th>
                            <th scope="col">CUSTNM</th>
                            <th scope="col">CADD1</th>
                            <th scope="col">CADD2</th>
                            <th scope="col">Class</th>
                            <th scope="col">ZIPCD</th>
                            <th scope="col">SMAN</th>
                            <th scope="col">PRIN</th>
                            <th scope="col">SUBPR</th>
                            <th scope="col">REFCD</th>
                            <th scope="col">REFCD1</th>
                            <th scope="col">Net Qty</th>
                            <th scope="col">Net Value</th>
                            <th scope="col">Net Value 2</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Category</th>
                            <th scope="col">Gross Value</th>
                            <th scope="col">Month</th>
                            <th scope="col">Year</th>
                            <th scope="col">REFDT</th>
                            <th scope="col">REFNO</th>
                            <th scope="col">XREFNO</th>
                            <th scope="col">REASN</th>
                            <th scope="col">PRODCD</th>
                            <th scope="col">QTYQR</th>
                            <th scope="col">QTYSH</th>
                            <th scope="col">UM</th>
                            <th scope="col">VLAMT</th>
                            <th scope="col">SELLPR</th>
                            <th scope="col">PDS</th>
                            <th scope="col">EXPDT</th>
                            <th scope="col">LOTNO</th>
                            <th scope="col">BARCODE</th>
                            <th scope="col">PDCODE</th>
                            <th scope="col">DMAN</th>
                            <th scope="col">FINDSC</th>
                            <th scope="col">FRTAMT</th>
                            <th scope="col">SLSYR</th>
                            <th scope="col">SLSMO</th>
                            <th scope="col">SLSWK</th>
                            <th scope="col">APPNUM</th>
                            <th scope="col">PONUM</th>
                            <th scope="col">GUARTRAN</th>
                            <th scope="col">NETSALES</th>
                            <th scope="col">DEBTORCODE</th>
                            <th scope="col">STR CODE</th>
                            <th scope="col">COVERAGE</th>
                            <th scope="col">REASON</th>
                            <th scope="col">BRANCH NAME</th>
                            <th scope="col">NA NAME</th>
                            <th scope="col">DSM NAME</th>
                            <th scope="col">Coordinator</th>
                            <th scope="col">Region</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mdcPerBranchSales, row : ${mdcPerBranchSalesList}">
                                <td class="align-middle" th:text="${row.count}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.date}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.cono}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.rec}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.bran}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.satbrn}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.customerNo}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.shpcn}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.customerName}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.cadd1}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.cadd2}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.clazz}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.zipcd}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.sman}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.prin}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.subpr}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.refcd}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.refcd1}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.netQuantity}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.netValue}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.netValue2}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.sku}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.category}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.grossValue}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.getDate().month}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.getDate().year}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.referenceDate}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.referenceNo}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.xreferenceNo}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.reasn}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.prodcd}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.quantityOr}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.quantitySh}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.um}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.vlamt}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.sellpr}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.pds}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.expirationDate}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.lotNo}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.barcode}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.pdcode}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.dman}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.findsc}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.framt}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.slsyr}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.slsmo}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.slswk}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.appNum}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.poNum}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.guartran}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.netSales}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.debtorCode}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.strCode}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.coverage}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.reason} ?: '0'"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.branchName}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.naName}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.dsmName}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.coordinator}"></td>
                                <td class="align-middle" th:text="${mdcPerBranchSales.region}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>