<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Netsuite Product List DE')"></div>
        <script th:src="@{/js/netsuite-prod-list-de.js}"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: netsuite-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="alert alert-success alert-dismissible fade show"
                             th:if="${successMessage != null}">
                            <div th:text="${successMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                             th:if="${errorMessage != null}">
                            <div th:text="${errorMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Netsuite Product List DE
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline">
                                    <div class="btn-group">
                                        <a class="btn btn-primary" th:href="@{/master/netsuite/config/product-list/de/add}" role="button">
                                            <i class="fas fa-plus">&nbsp; Add Netsuite Product List DE</i></a>
                                    </div>
                                </form>
                                <br>
                                <table id="netsuiteProductListDeTable" class="table table-striped table-bordered table-hover table-sm
                                    table-responsive">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Row</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Stage</th>
                                            <th scope="col">Product Code</th>
                                            <th scope="col">Product Type</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="netsuiteProductListDe, row : ${netsuiteProductListDeList}">
                                            <td class="align-middle">
                                                <a th:text="${row.count}"
                                                   th:href="@{/master/netsuite/config/product-list/de/view/{id}(id=${netsuiteProductListDe.id})}"></a>
                                            </td>
                                            <td class="align-middle" th:text="${netsuiteProductListDe.description}"></td>
                                            <td class="align-middle" th:text="${netsuiteProductListDe.stage}"></td>
                                            <td class="align-middle" th:text="${netsuiteProductListDe.productCode}"></td>
                                            <td class="align-middle" th:text="${netsuiteProductListDe.productType}"></td>
                                            <td class="align-middle">
                                                <a class="btn btn-outline-danger" data-toggle="modal"
                                                   th:attr="data-target='#deleteNetsuiteProductListDeModal' + ${netsuiteProductListDe.id}"
                                                   role="button"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                            <div th:id="'deleteNetsuiteProductListDeModal' + ${netsuiteProductListDe.id}" class="modal fade" role="dialog"
                                                 aria-labelledby="deleteNetsuiteProductListDeModalLabel" aria-hidden="true" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete Netsuite Product List DE</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete this entry?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-danger"
                                                               th:href="@{/master/netsuite/config/product-list/de/delete/{id}(id=${netsuiteProductListDe.id})}"
                                                               role="button">Delete</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>