<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Netsuite')"></div>
        <script th:src="@{/js/netsuite.js}"></script>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/}">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                                    d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">Netsuite</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline" method="get" th:action="@{/master/netsuite}">
                        <input type="date" class="form-control" name="date" th:value="${searchedDate}">&nbsp;&nbsp;
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-search">&nbsp; Search</i></button>
                        </div>&nbsp;
                    </form>
                    <br>
                    <table id="netsuiteTable" class="table table-striped table-bordered table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Row</th>
                                <th scope="col">Type</th>
                                <th scope="col">Customer / Job</th>
                                <th scope="col">Category</th>
                                <th scope="col">Date</th>
                                <th scope="col">Num</th>
                                <th scope="col">Created From</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Sales Price</th>
                                <th scope="col">Revenue</th>
                                <th scope="col">Price Level</th>
                                <th scope="col">Customer / Job: Credited to Territory Manager</th>
                                <th scope="col">Sales Rep</th>
                                <th scope="col">Customer Since</th>
                                <th scope="col">Zone</th>
                                <th scope="col">Customer / Job: Zone</th>
                                <th scope="col">Pickup</th>
                                <th scope="col">Billing Address Line 1</th>
                                <th scope="col">Billing Address Line 2</th>
                                <th scope="col">Formula</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Stage</th>
                                <th scope="col">Kam Reference Name</th>
                                <th scope="col">Region</th>
                                <th scope="col">Revunue Converted</th>
                                <th scope="col">Na Left</th>
                                <th scope="col">Trim</th>
                                <th scope="col">Kam Reference Name 2</th>
                                <th scope="col">Management</th>
                                <th scope="col">CSR Tagging</th>
                                <th scope="col">ASM</th>
                                <th scope="col">Product Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="netsuite, row : ${netsuiteList}">
                                <td class="align-middle" th:text="${row.count}"></td>
                                <td class="align-middle" th:text="${netsuite.type}"></td>
                                <td class="align-middle" th:text="${netsuite.customer}"></td>
                                <td class="align-middle" th:text="${netsuite.category}"></td>
                                <td class="align-middle" th:text="${netsuite.date}"></td>
                                <td class="align-middle" th:text="${netsuite.num}"></td>
                                <td class="align-middle" th:text="${netsuite.createdFrom}"></td>
                                <td class="align-middle" th:text="${netsuite.description}"></td>
                                <td class="align-middle" th:text="${netsuite.quantity}"></td>
                                <td class="align-middle" th:text="${netsuite.salesPrice}"></td>
                                <td class="align-middle" th:text="${netsuite.revenue}"></td>
                                <td class="align-middle" th:text="${netsuite.priceLevel}"></td>
                                <td class="align-middle" th:text="${netsuite.creditedToTerritorialManager}"></td>
                                <td class="align-middle" th:text="${netsuite.salesRep}"></td>
                                <td class="align-middle" th:text="${netsuite.customerSince}"></td>
                                <td class="align-middle" th:text="${netsuite.zone}"></td>
                                <td class="align-middle" th:text="${netsuite.customerJobZone}"></td>
                                <td class="align-middle" th:text="${netsuite.pickup}"></td>
                                <td class="align-middle" th:text="${netsuite.billingAddressLine1}"></td>
                                <td class="align-middle" th:text="${netsuite.billingAddressLine2}"></td>
                                <td class="align-middle" th:text="${netsuite.formula}"></td>
                                <td class="align-middle" th:text="${netsuite.brand}"></td>
                                <td class="align-middle" th:text="${netsuite.stage}"></td>
                                <td class="align-middle" th:text="${netsuite.kamRefName1}">-</td>
                                <td class="align-middle" th:text="${netsuite.region}">-</td>
                                <td class="align-middle" th:text="${netsuite.revenueConverted}">-</td>
                                <td class="align-middle" th:text="${netsuite.naLeft}">-</td>
                                <td class="align-middle" th:text="${netsuite.trim}">-</td>
                                <td class="align-middle" th:text="${netsuite.kamRefName2}">-</td>
                                <td class="align-middle" th:text="${netsuite.mgmt}">-</td>
                                <td class="align-middle" th:text="${netsuite.csrTagging}">-</td>
                                <td class="align-middle" th:text="${netsuite.asm}">-</td>
                                <td class="align-middle" th:text="${netsuite.productCategory}">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>