<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Netsuite Table Inventory')"></div>
        <script th:src="@{/js/netsuite-table-inv.js}"></script>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/}">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}"/>
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                                                    d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">Netsuite Table Summary</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline" method="get">
                        <input type="date" class="form-control" name="date" th:value="${searchedDate}">&nbsp;&nbsp;
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-search">&nbsp; Search</i></button>
                        </div>&nbsp;
                    </form>
                    <br>
                    <table id="netsuiteTableInventoryAmount" class="table-sm table-striped table-bordered
                                     table-hover table">
                        <thead class="thead-light">
                            <tr>
                                <td class="text-center font-weight-bold" colspan="42">AMOUNT</td>
                            </tr>
                            <tr>
                                <th class="bg-dark text-white">AFPCES</th>
                                <th:block th:each="hippProduct : ${hippProductList}">
                                    <th th:text="${hippProduct}"></th>
                                </th:block>
                                <th class="bg-dark text-white">Total HiPP</th>
                                <th:block th:each="jarProduct : ${jarProductList}">
                                    <th th:text="${jarProduct}"></th>
                                </th:block>
                                <th class="bg-dark text-white">Total Jar</th>
                                <th class="bg-dark text-white">Total Water</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="kamReferenceName : ${kamReferenceNameList}">
                                <td class="bg-dark text-white" th:text="${kamReferenceName}"></td>
                                <th:block th:each="hippProduct : ${hippProductList}">
                                    <td th:text="${netsuiteTableInventoryCalculator.calculateTotalAmountPerKamReferenceNamePerBrand(kamReferenceName, hippProduct)}">-</td>
                                </th:block>
                                <td class="bg-dark text-white" th:text="${netsuiteTableInventoryCalculator.calculateTotalHippAmountPerKamReferenceName(kamReferenceName)}">-</td>
                                <th:block th:each="jarProduct : ${jarProductList}">
                                    <td th:text="${netsuiteTableInventoryCalculator.calculateTotalAmountPerKamReferenceNamePerBrand(kamReferenceName, jarProduct)}">-</td>
                                </th:block>
                                <td class="bg-dark text-white" th:text="${netsuiteTableInventoryCalculator.calculateTotalJarAmountPerKamReferenceName(kamReferenceName)}">-</td>
                                <td class="bg-dark text-white">0</td>
                            </tr>
                        </tbody>
                    </table>

                    <br>
                    <table id="netsuiteTableInventoryUnits" class="table-sm table-striped table-bordered
                                     table-hover table">
                        <thead class="thead-light">
                            <tr>
                                <td class="text-center font-weight-bold" colspan="42">UNITS</td>
                            </tr>
                            <tr>
                                <th class="bg-dark text-white">AFPCES</th>
                                <th:block th:each="hippProduct : ${hippProductList}">
                                    <th th:text="${hippProduct}"></th>
                                </th:block>
                                <th class="bg-dark text-white">Total HiPP</th>
                                <th:block th:each="jarProduct : ${jarProductList}">
                                    <th th:text="${jarProduct}"></th>
                                </th:block>
                                <th class="bg-dark text-white">Total Jar</th>
                                <th class="bg-dark text-white">Total Water</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="kamReferenceName : ${kamReferenceNameList}">
                                <td class="bg-dark text-white" th:text="${kamReferenceName}"></td>
                                <th:block th:each="hippProduct : ${hippProductList}">
                                    <td th:text="${netsuiteTableInventoryCalculator.calculateTotalUnitsPerKamReferenceNamePerBrand(kamReferenceName, hippProduct)}">-</td>
                                </th:block>
                                <td class="bg-dark text-white" th:text="${netsuiteTableInventoryCalculator.calculateTotalHippUnitsPerKamReferenceName(kamReferenceName)}">-</td>
                                <th:block th:each="jarProduct : ${jarProductList}">
                                    <td th:text="${netsuiteTableInventoryCalculator.calculateTotalUnitsPerKamReferenceNamePerBrand(kamReferenceName, jarProduct)}">-</td>
                                </th:block>
                                <td class="bg-dark text-white" th:text="${netsuiteTableInventoryCalculator.calculateTotalJarUnitsPerKamReferenceName(kamReferenceName)}">-</td>
                                <td class="bg-dark text-white">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>