<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF8"/>
        <title>Edit Product</title>
        <link rel="stylesheet"
              href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="icon" type="image/x-icon" th:href="@{/images/antech-favicon.ico}"/>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                </div>
                <div class="card-body bg-light">
                    <form th:action="@{/products/update}" th:object="${product}" method="post">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-warning" th:href="@{/products/view/{id}(id=${product.id})}">Cancel</a>
                        </div>
                        <hr>
                        <input type="hidden"  th:field="*{id}">
                        Code<input type="text" th:field="*{code}"><br>
                        Name<input type="text" th:field="*{name}"><br>
                        Manufacturer<input type="text" th:field="*{manufacturer}"><br>
                        Base<input type="text" th:field="*{base}"><br>
                        Material Group<input type="text" th:field="*{materialGroup}"><br>
                        Shelf Life<input type="text" th:field="*{shelfLifeInDays}"><br>
                        Minimum Salelable Shelf Life: <input type="text" th:field="*{minimumSaleableShelfLifeInDays}"><br>
                        Item Barcode<input type="text" th:field="*{itemBarcode}"><br>
                        Case Barcode<input type="text" th:field="*{caseBarcode}"><br>
                        <hr>
                        Life Saving<input type="text" th:field="*{productInformation.lifeSaving}"><br>
                        Bom Relevant<input type="text" th:field="*{productInformation.bomRelevant}"><br>
                        Batch Managed<input type="text" th:field="*{productInformation.batchManaged}"><br>
                        With Expiry Date<input type="text" th:field="*{productInformation.withExpiryDate}"><br>
                        Serial Managed<input type="text" th:field="*{productInformation.serialManaged}"><br>
                        Centrally Stocked<input type="text" th:field="*{productInformation.centrallyStocked}"><br>
                        For IMS Extraction<input type="text" th:field="*{productInformation.forImsExtraction}"><br>
                        Download Asiarx<input type="text" th:field="*{productInformation.downloadAsiarx}"><br>
                        Biological<input type="text" th:field="*{productInformation.biological}"><br>
                        With Special Arrangement<input type="text" th:field="*{productInformation.withSpecialArrangement}"><br>
                        Antibiotic<input type="text" th:field="*{productInformation.antibiotic}"><br>
                        <hr>
                        Code<input type="text" th:field="*{licenseInformation.code}"><br>
                        Certificate<input type="text" th:field="*{licenseInformation.certificateOfProductRegistrationNo}"><br>
                        Validity Period<input type="text" th:field="*{licenseInformation.validityPeriod}"><br>
                        <hr>
                        Confirmation Date<input type="text" th:field="*{confirmation.confirmationDate}"><br>
                        Confirmed By<input type="text" th:field="*{confirmation.confirmedBy}"><br>
                        Remarks<input type="text" th:field="*{confirmation.remarks}"><br>
                        <hr>
                        Storage Condition<input type="text" th:field="*{storageCondition}"><br>
                        <hr>
                        Pieces Per Carton<input type="text" th:field="*{alternativeUOM.piecesPerCarton}"><br>
                        <hr>
                        Length<input type="text" th:field="*{dimension.length}"><br>
                        Width<input type="text" th:field="*{dimension.width}"><br>
                        Height<input type="text" th:field="*{dimension.height}"><br>
                        Gross Weight Per SKU<input type="text" th:field="*{productWeight.grossWeightPerSKU}"><br>
                        Net Weight Per SKU<input type="text" th:field="*{productWeight.netWeightPerSKU}"><br>
                        Gross Weight Per Standard<input type="text" th:field="*{productWeight.grossWeightPerStandard}"><br>
                        Net Weight Per Standard<input type="text" th:field="*{productWeight.netWeightPerStandard}"><br>
                        <hr>
                        Issuance<input type="text" th:field="*{issuance.box}"><br>
                        <hr>
                        Completion Date<input type="text" th:field="*{completion.completionDate}"><br>
                        Completed By<input type="text" th:field="*{completion.completedBy}"><br>
                        Position<input type="text" th:field="*{completion.position}"><br>
                    </form>
                </div>
            </div>
        </div>

        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>