<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF8"/>
        <title>Product</title>
        <link rel="stylesheet"
              href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="icon" type="image/x-icon" th:href="@{/images/antech-favicon.ico}"/>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                </div>
                <div class="card-body bg-light">
                    <p th:text="${product.code}"></p>
                    <p th:text="${product.name}"></p>
                    <p th:text="${product.manufacturer}"></p>
                    <p th:text="${product.base}"></p>
                    <p th:text="${product.materialGroup}"></p>
                    <p th:text="${product.shelfLifeInDays}"></p>
                    <p th:text="${product.minimumSaleableShelfLifeInDays}"></p>
                    <p th:text="${product.itemBarcode}"></p>
                    <p th:text="${product.caseBarcode}"></p>
                    <hr>
                    <p th:text="${product.productInformation.lifeSaving}"></p>
                    <p th:text="${product.productInformation.bomRelevant}"></p>
                    <p th:text="${product.productInformation.batchManaged}"></p>
                    <p th:text="${product.productInformation.withExpiryDate}"></p>
                    <p th:text="${product.productInformation.serialManaged}"></p>
                    <p th:text="${product.productInformation.centrallyStocked}"></p>
                    <p th:text="${product.productInformation.forImsExtraction}"></p>
                    <p th:text="${product.productInformation.downloadAsiarx}"></p>
                    <p th:text="${product.productInformation.biological}"></p>
                    <p th:text="${product.productInformation.withSpecialArrangement}"></p>
                    <p th:text="${product.productInformation.antibiotic}"></p>
                    <hr>
                    <p th:text="${product.licenseInformation.code}"></p>
                    <p th:text="${product.licenseInformation.certifateOfProductRegistrationNo}"></p>
                    <p th:text="${product.licenseInformation.validityPeriod}"></p>
                    <hr>
                    <p th:text="${product.confirmation.confirmationDate}"></p>
                    <hr>
                    <p th:text="${product.storageCondition}"></p>
                    <hr/>
                    <p th:text="${product.alternativeUOM.piecesPerCarton}"></p>
                    <hr/>
                    <p th:text="${product.dimension.length}"></p>
                    <p th:text="${product.dimension.width}"></p>
                    <p th:text="${product.dimension.height}"></p>
                    <p th:text="${product.productWeight.grossWeightPerSKU}"></p>
                    <p th:text="${product.productWeight.netWeightPerSKU}"></p>
                    <p th:text="${product.productWeight.grossWeightPerStandard}"></p>
                    <p th:text="${product.productWeight.netWeightPerStandard}"></p>
                    <hr>
                    <p th:text="${product.issuance.box}"></p>
                    <hr>
                    <p th:text="${product.completion.completionDate}"></p>
                </div>
            </div>
        </div>

        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>