<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Add ZOL General Information')"></div>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="alert alert-success alert-dismissible fade show"
                 th:if="${successMessage != null}">
                <div th:text="${successMessage}"></div>
                <a class="close" data-dismiss="alert">&times;</a>
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${errorMessage != null}">
                <div th:text="${errorMessage}"></div>
                <a class="close" data-dismiss="alert">&times;</a>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/}">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                                                                d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">Add ZOL General Information</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form th:action="@{/config/zol-gen-info/create}" th:object="${zolPerDoorsGeneralInformation}" method="post">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save">&nbsp; Save</i></button>
                        </div>&nbsp;
                        <div class="btn-group">
                            <a class="btn btn-warning" th:href="@{/config/zol-gen-info}">
                                <i class="fas fa-ban">&nbsp; Cancel</i></a>
                        </div>&nbsp;
                        <input type="hidden" th:field="*{id}">
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">ZPC Item Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" th:field="*{zpcItemCode}">
                            </div>
                            <label class="col-sm-2 col-form-label">Item Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" th:field="*{itemCode}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Item Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" th:field="*{itemName}">
                            </div>
                            <label class="col-sm-2 col-form-label">Antech Product Description</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" th:field="*{antechProductDescription}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">PCS / CS</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" th:field="*{pcsCs}">
                            </div>
                            <label class="col-sm-2 col-form-label">PC Amount</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" th:field="*{pcAmount}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" th:field="*{brand}">
                            </div>
                            <label class="col-sm-2 col-form-label">Stage</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" th:field="*{stage}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Old Price</label>
                            <div class="col-sm-4">
                                <input type="number" step=".01" class="form-control" th:field="*{oldPrice}">
                            </div>
                            <label class="col-sm-2 col-form-label">New Price</label>
                            <div class="col-sm-4">
                                <input type="number" step=".01" class="form-control" th:field="*{newPrice}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Per Case</label>
                            <div class="col-sm-4">
                                <input type="number" step=".01" class="form-control" th:field="*{perCase}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>