<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'ZOL MT Per Branch')"></div>
        <script th:src="@{/js/zol-mt.js}"></script>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/}">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                                    d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">ZOL MT Per Branch</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline" method="get" th:action="@{/master/zol-mt}">
                        <input type="date" class="form-control" name="date" th:value="${searchedDate}">&nbsp;&nbsp;
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-search">&nbsp; Search</i></button>
                        </div>&nbsp;
                    </form>
                    <br>
                    <table id="zolMtTable" class="table table-striped table-bordered table-hover table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Row</th>
                            <th scope="col">Customer Code</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Item Code</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Sales Unit</th>
                            <th scope="col">Sales Value</th>
                            <th scope="col">Antech Product Description</th>
                            <th scope="col">Antech Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account</th>
                            <th scope="col">Kam</th>
                            <th scope="col">Kam Reference Name</th>
                            <th scope="col">Stage</th>
                            <th scope="col">Amount Converted</th>
                            <th scope="col">Type</th>
                            <th scope="col">Location</th>
                            <th scope="col">CM</th>
                            <th scope="col">Less 0.00375</th>
                            <th scope="col">V1</th>
                            <th scope="col">Less 0.0853</th>
                            <th scope="col">V2</th>
                            <th scope="col">Final Amount</th>
                            <th scope="col">Amount * 1000</th>
                            <th scope="col">A</th>
                            <th scope="col">CM IND</th>
                            <th scope="col">DSM</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="zolMtPerBranch, row : ${zolMtPerBranchList}">
                            <td class="align-middle" th:text="${row.count}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.customerCode}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.customerName}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.itemCode}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.itemName}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.salesUnit}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.salesValue}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.antechProductDescription}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.antechPrice}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.amount}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.account}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.kam}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.kamRefName}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.stage}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.amountConverted}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.type}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.loc}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.cm}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.lessThan00375}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.v1}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.lessThan0853}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.v2}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.finalAmount}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.amountTimes1000}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.a}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.dsm}"></td>
                            <td class="align-middle" th:text="${zolMtPerBranch.cmInd}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>