<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Status Report')"></div>
    </head>
    <body>
        <div class="container-fluid"><br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/}">
                                <img class="img-fluid" th:src="@{/images/antech-top.png}" />
                            </a>
                        </div>
                        <div class="col-sm-8 text-center font-weight-bold
                                    d-flex align-items-center justify-content-center">
                            <h1 class="display-4 text-monospace">ZOL MT Per Branch</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <form class="form-inline" method="get" action="#">
                        <input type="date" class="form-control" name="date">&nbsp;&nbsp;
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-search">&nbsp; Search</i></button>
                        </div>&nbsp;
                    </form>
                    <br>
                    <table class="table table-striped table-bordered table-hover table-sm table-responsive">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Customer Code</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Item Code</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Sales Unit</th>
                            <th scope="col">Sales Value</th>
                            <th scope="col">Antech Product Description</th>
                            <th scope="col">Antech Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account</th>
                            <th scope="col">Kam</th>
                            <th scope="col">Kam Reference Name</th>
                            <th scope="col">Stage</th>
                            <th scope="col">Amount Converted</th>
                            <th scope="col">Type</th>
                            <th scope="col">Location</th>
                            <th scope="col">CM</th>
                            <th scope="col">Less 0.00375</th>
                            <th scope="col">V1</th>
                            <th scope="col">Less 0.0853</th>
                            <th scope="col">V2</th>
                            <th scope="col">Final Amount</th>
                            <th scope="col">Amount * 1000</th>
                            <th scope="col">A</th>
                            <th scope="col">CM IND</th>
                            <th scope="col">DSM</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>