<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Edit MDC Per Branch Sales Code')"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: mdc-per-branch-sales-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="card">
                            <div class="card-header">
                                Edit MDC Per Branch Sales Code
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light">
                                <form th:action="@{/master/mdc-branch/config/code/update}" th:object="${mdcPerBranchSalesCode}" method="post">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-save">&nbsp; Save</i></button>
                                    </div>&nbsp;
                                    <div class="btn-group">
                                        <a class="btn btn-warning" th:href="@{/master/mdc-branch/config/code/view/{id}(id=${mdcPerBranchSalesCode.id})}">
                                            <i class="fas fa-ban">&nbsp; Cancel</i></a>
                                    </div>
                                    <hr>
                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Code</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{code}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{description}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>