<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'View MDC Per Branch Sales Account')"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: mdc-per-branch-sales-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="alert alert-success alert-dismissible fade show"
                             th:if="${successMessage != null}">
                            <div th:text="${successMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                             th:if="${errorMessage != null}">
                            <div th:text="${errorMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                View MDC Per Branch Sales Account
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light">
                                <form>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" th:href="@{/master/mdc-branch/config/accounts}" role="button">
                                            <i class="fas fa-list">&nbsp; MDC Per Branch Sales Account List</i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-success" th:href="@{/master/mdc-branch/config/accounts/edit/{id}(id=${mdcPerBranchSalesAccount.id})}">
                                            <i class="fas fa-edit">&nbsp; Edit</i></a>
                                    </div>&nbsp;
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">SHPCN</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.shpcn}" disabled>
                                        </div>
                                        <label class="col-sm-2 col-form-label">NA</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.na}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Branch Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.branchName}" disabled>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Customer Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.customerName}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Cadd 1</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.cadd1}" disabled>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Cadd 2</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.cadd2}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">DSM</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.dsm}" disabled>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Str Code</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.strCode}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Coverage</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:value="${mdcPerBranchSalesAccount.coverage}" disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>