<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Netsuite Other Information')"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: netsuite-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="alert alert-success alert-dismissible fade show"
                             th:if="${successMessage != null}">
                            <div th:text="${successMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                             th:if="${errorMessage != null}">
                            <div th:text="${errorMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Netsuite Other Information List
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light pre-scrollable" style="max-height: 90vh">
                                <form class="form-inline" method="get" th:action="@{/master/netsuite/config/other-info}">
                                    <input type="text" class="form-control" name="filter" th:value="${filter}" th:placeholder="Filter">&nbsp;
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-search">&nbsp; Search</i></button>
                                    </div>&nbsp;
                                    <div class="btn-group">
                                        <a class="btn btn-primary" th:href="@{/master/netsuite/config/other-info/add}" role="button">
                                            <i class="fas fa-plus">&nbsp; Add Netsuite Other Information</i></a>
                                    </div>
                                </form>
                                <br>
                                <table id="netsuiteOtherInformationTable" class="table table-striped table-bordered table-hover table-sm
                                    table-responsive">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Other Description</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="netsuiteOtherInformation, row : ${page.content}">
                                            <td class="align-middle">
                                                <a th:text="${netsuiteOtherInformation.type}"
                                                   th:href="@{/master/netsuite/config/other-info/view/{id}(id=${netsuiteOtherInformation.id})}"></a>
                                            </td>
                                            <td class="align-middle" th:text="${netsuiteOtherInformation.description}"></td>
                                            <td class="align-middle" th:text="${netsuiteOtherInformation.otherDescription}"></td>
                                            <td class="align-middle">
                                                <a class="btn btn-outline-danger" data-toggle="modal"
                                                   th:attr="data-target='#deleteNetsuiteOtherInformationModel' + ${netsuiteOtherInformation.id}"
                                                   role="button"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                            <div th:id="'deleteNetsuiteOtherInformationModel' + ${netsuiteOtherInformation.id}" class="modal fade" role="dialog"
                                                 aria-labelledby="deleteNetsuiteOtherInformationModelLabel" aria-hidden="true" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete Netsuite Other Information</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete this entry?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-danger"
                                                               th:href="@{/master/netsuite/config/other-info/delete/{id}(id=${netsuiteOtherInformation.id})}"
                                                               role="button">Delete</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <nav aria-label="Pagination" th:if="${page.totalPages gt 0}">
                                        <ul class="pagination justify-content-center font-weight-medium">
                                            <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
                                                <a class="page-link svg-icon"
                                                   th:href="@{/master/netsuite/config/other-info?page={id}&filter={filter}(id=${page.number lt 1 ? 1 : page.number - 1}, filter=${filter})}"
                                                   aria-label="Previous" title="Previous Page" rel="tooltip">
                                                    <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="page-item" th:if="${page.number - 2 > 0}">
                                                <a class="page-link svg-icon" th:href="@{/master/netsuite/config/other-info?page=0&filter={filter}(filter=${filter})}">
                                                    <span data-feather="more-horizontal" width="20" height="20">1</span>
                                                </a>
                                            </li>
                                            <li class="page-item disabled" th:if="${page.number - 3 > 0}">
                                                <a class="page-link svg-icon" href="#">
                                                    <span data-feather="more-horizontal" width="20" height="20">...</span>
                                                </a>
                                            </li>
                                            <li class="page-item"
                                                th:each="i : ${#numbers.sequence(0 < 2 - page.number ? 1 : page.number - 1, page.number, 1)}">
                                                <a class="page-link" th:href="@{/master/netsuite/config/other-info?page={id}&filter={filter}(id=${i - 1}, filter=${filter})}" th:text="${i}"
                                                   th:title="${'Page '+ i}"
                                                   rel="tooltip"></a>
                                            </li>
                                            <li class="page-item" th:classappend="${i eq page.number + 1} ? 'active'"
                                                th:each="i : ${#numbers.sequence(page.number + 1, page.totalPages > 3 + page.number ? page.number + 3 : page.totalPages, 1)}">
                                                <a class="page-link" th:href="@{/master/netsuite/config/other-info?page={id}&filter={filter}(id=${i - 1}, filter=${filter})}" th:text="${i}"
                                                   th:title="${'Page '+ i}"
                                                   rel="tooltip"></a>
                                            </li>
                                            <li class="page-item disabled" th:if="${page.number + 4 < page.totalPages}">
                                                <a class="page-link svg-icon" href="#">
                                                    <span data-feather="more-horizontal" width="20" height="20">...</span>
                                                </a>
                                            </li>
                                            <li class="page-item" th:if="${page.number + 3 < page.totalPages}">
                                                <a class="page-link svg-icon" th:href="@{/master/netsuite/config/other-info?page={id}&filter={filter}(id=${page.totalPages - 1}, filter=${filter})}">
                                                    <span data-feather="more-horizontal" width="20" height="20" th:text="${page.totalPages}"></span>
                                                </a>
                                            </li>
                                            <li class="page-item" th:classappend="${page.number + 1 eq page.totalPages} ? 'disabled'">
                                                <a class="page-link svg-icon" th:href="@{/master/netsuite/config/other-info?page={id}&filter={filter}(id=${page.number + 1}, filter=${filter})}"
                                                   aria-label="Next"
                                                   title="Next Page" rel="tooltip">
                                                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>