<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Edit Netsuite Product List Source')"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: netsuite-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="card">
                            <div class="card-header">
                                Edit Netsuite Product List Source
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light">
                                <form th:action="@{/master/netsuite/config/product-list/source/update}" th:object="${netsuiteProductListSource}" method="post">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-save">&nbsp; Save</i></button>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-warning" th:href="@{/master/netsuite/config/product-list/source/view/{id}(id=${netsuiteProductListSource.id})}">
                                            <i class="fas fa-ban">&nbsp; Cancel</i></a>
                                    </div>
                                    <hr>
                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Source</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{source}" required>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{description}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Origin</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{origin}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Destination</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{destination}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">In PCS</label>
                                        <div class="col-sm-4">
                                            <input type="number" max="1000000000" class="form-control" th:field="*{inPcs}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Product</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{product}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>