<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/template :: header(title = 'Add ZOL General Information')"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div th:replace="fragments/template :: zol-per-doors-sidebar"></div>
            </div>
            <div id="page-content-wrapper">
                <div th:replace="fragments/template :: navbar"></div>
                <main>
                    <div class="container-fluid"><br>
                        <div class="alert alert-success alert-dismissible fade show"
                             th:if="${successMessage != null}">
                            <div th:text="${successMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show"
                             th:if="${errorMessage != null}">
                            <div th:text="${errorMessage}"></div>
                            <a class="close" data-dismiss="alert">&times;</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Add ZOL Per Doors General Information
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body bg-light">
                                <form th:action="@{/master/zol-doors/config/gen-info/create}" th:object="${zolPerDoorsGeneralInformation}" method="post">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-save">&nbsp; Save</i></button>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-warning" th:href="@{/master/zol-doors/config/gen-info}">
                                            <i class="fas fa-ban">&nbsp; Cancel</i></a>
                                    </div>&nbsp;
                                    <input type="hidden" th:field="*{id}">
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">ZPC Item Code</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{zpcItemCode}" required>
                                        </div>
                                        <label class="col-sm-2 col-form-label">Item Code</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{itemCode}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Item Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{itemName}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Antech Product Description</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{antechProductDescription}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">PCS / CS</label>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" th:field="*{pcsCs}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">PC Amount</label>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" th:field="*{pcAmount}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Brand</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{brand}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">Stage</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" th:field="*{stage}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Old Price</label>
                                        <div class="col-sm-4">
                                            <input type="number" step=".01" class="form-control" th:field="*{oldPrice}">
                                        </div>
                                        <label class="col-sm-2 col-form-label">New Price</label>
                                        <div class="col-sm-4">
                                            <input type="number" step=".01" class="form-control" th:field="*{newPrice}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Per Case</label>
                                        <div class="col-sm-4">
                                            <input type="number" step=".01" class="form-control" th:field="*{perCase}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div th:replace="fragments/template :: footer"></div>
    </body>
</html>